.topnav {
  background-color: rgb(16, 89, 145);
  overflow: hidden;
 
  
}
.topnav a {
    color: #f2f2f2;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 18px;
      font-family: 'Lato';
      float: left
}

.topnav a:hover {
      background-color:rgb(218, 237, 252);
      color:rgb(2, 144, 245);
}

.topnav a.active {
  background-color: rgb(2, 144, 245);
  color: white;
  color: white;
}


h1 {
  text-align: center;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

body {
    background-image: linear-gradient(to right, rgb(77, 160, 255) , rgb(121, 200, 214) );
    font-family: 'Lato';
    color: white;
}

.container {
  display: flex;
}

.column {
  margin: 1cm;
  width: 100%;
}

.title {
  font-size: 1.6em;
  margin-bottom: 1cm;
  font-weight: 800;

    
  }

.head {
    display: flex;
    justify-content: center;
  }

.head-text {
    font-family: 'Lato', Arial, Helvetica, sans-serif; 
    font-size: 2em;
    text-align: center;
    background-color: rgb(18, 99, 99);
    width: 60%;
    border-radius: .5cm;
    padding: .5cm;
}

@media screen and (max-width: 1200px) {
    .container {
      display: block;
    }

    .column {
      width: 85%;
    }
 }

footer {
    text-align: center;
    padding: 3px;
    background-color:rgb(2	82	140	);
    color: white;
    border-radius: .4cm;
    font-family: 'Lato',Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

