body {
    background-color: rgb(255, 255, 255) ;
    font-family: 'Lato';
}
.topnav {
    background-color: rgb(16, 89, 145);
    overflow: hidden;
   
    
}
.topnav a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Lato';
        float: left
}

.topnav a:hover {
        background-color:rgb(218, 237, 252);
        color:rgb(2, 144, 245);
}

.topnav a.active {
    background-color: rgb(2, 144, 245);
    color: white;
    color: white;
}
.title {
    text-align: center;
    color: rgb(0, 144,245);
    font-family: 'Lato';
    font-weight: 900;
    font-size: 4em;
    text-align: left;
    margin-left: 13%;
    
}
#title-info {
    color: rgb(4, 46, 79);
    width: 75%;
    text-align: left;
    margin: auto;
    font-size: 1.1em;
    word-spacing: .0002cm;
    font-weight: 300;
    padding-bottom: .7cm;
    
}

.mineta-flex {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
}

.mineta {
    width: 7cm;
    justify-self: center;
}

.mineta-text {
    color:rgb(4, 46, 79);
    position: relative;
    font-size: 2em;
    margin-bottom: 2cm;
}

.fourth {
    text-align: center;
    border-bottom: 5px solid rgb(4, 46, 79);
    margin-bottom: 5px;
    font-size: 130%;
    color: rgb(4, 46, 79);
    font-weight: 400;

}

.flex-container {
    display: flex;
    justify-content: center
}

@media screen and (max-width: 1200px) {
    .flex-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .mineta-flex {
        display: block;
    }

    .mineta {
        margin: auto;
    }

    .mineta-text {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .flex-container {
        display: grid;
        grid-template-columns: 100%;
    }
}

.item {
    width: 7cm;
    margin: .4cm;
    justify-self: center;
}
