body {
    background-color: rgb(255, 255, 255) ;
}
.topnav {
    background-color: rgb(16, 89, 145);
    overflow: hidden;
   
    
}
.topnav a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Lato'; 
        float: left
}

.topnav a:hover {
        background-color:rgb(218, 237, 252);
        color:rgb(2, 144, 245);
}

.topnav a.active {
    background-color: rgb(2, 144, 245);
    color: white;
    color: white;
}
.title {
    text-align: center;
    color: rgb(0, 144,245);
    font-family: 'Lato';
    font-weight: 900;
    font-size: 4em;
    
}

.logophoto {
    float: right;
    padding: .2cm;
    width: 5cm;
    border: black;
    border-style: solid;
    border-radius: .3cm;
    border-width: .05cm;
    margin-top: -2.3cm;
    margin-right: 6cm;
}


.photo {
    float: right;
    width: 5.5cm;
    border-radius: .3cm;
    border-width: .05cm;
    margin-top: -2.3cm;
    margin-right: 6cm;
}

.newstitle {
    float: left;

}

.text {
    margin-left: 4cm;
    font-family: 'Lato';
    color: black;
    
}

@media screen and (max-width: 1329px) {
  
    .text {
        width: 10cm;
        position: relative;
        margin-top: -2cm;
        margin-bottom: 4cm;
        padding-top: .3cm;
    }

    .photo {
        position: relative;
        top: -2cm;
        width: 4.675cm;
    }


    .logophoto {
        width: 4.2cm;
        position: relative;
        top: -2cm;
    }

    .bottom {
        color: #efefef;
        border: none;
        background-color: #efefef;
        height: 5px;
        margin-top: 3cm;
        margin-left: 8vw;
        position: relative;
        left: 2cm;
    }
  }



@media screen and (max-width: 1200px) {
    .text {
      width: 30%;
      margin: 3cm;
      margin-top: -2cm;
      font-size: 1vw;
    }

    .photo {
        width: 2.75cm;
        float: right;
        position: initial;
    }

    .logophoto {
        width: 2.3cm;
        position: initial;
    }

  }


.bottom {
    color: #efefef;
    border: none;
    background-color: #efefef;
    height: 5px;
    margin-top: 3cm;
    margin-left: 8vw;
    margin-right: 4cm;
}

.top {
    color: white;
    border: none;
    background-color: white;
    height: 5px;
    margin-bottom: 2cm;
    margin-right: 4cm;

}

.firsttop {
    color: #efefef;
    border: none;
    background-color: #efefef;
    height: 5px;
    margin-bottom: 2cm;
    margin-right: 4cm;
    margin-left: 8vw;

}

.text a:link{
    text-decoration: none;
    color: rgb(0, 144,245);
}

.text a:hover{
    text-decoration: underline;
    color: rgb(0, 144,245);
}

.text a:visited {
    text-decoration: none;
    color: rgb(0, 144,245);
}

.map {
    outline: 0;
    }