body {
    background-color: rgb(255, 255, 255) ;
}
.topnav {
    background-color: rgb(16, 89, 145);
    overflow: hidden;
   
    
}
.topnav a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Lato'; 
        float: left
}

.topnav a:hover {
        background-color:rgb(218, 237, 252);
        color:rgb(2, 144, 245);
}

.topnav a.active {
    background-color: rgb(2, 144, 245);
    color: white;
    color: white;
}
.title {
    text-align: center;
    color: rgb(0, 144,245);
    font-family: 'Lato';
    font-weight: 900;
    font-size: 4em;
}

.capsule {
    display: grid;
    grid-template-columns: auto auto auto;  
}

.text {
    padding: 2cm;
    width: 400px;
}

img {
    width: 310px;
}

.logophoto {
    border: 5px saddlebrown;
}

.text {
    font-family: 'Lato';
    color: black;   
}

.text a:link{
    text-decoration: none;
    color: rgb(0, 144,245);
}

.text a:hover{
    text-decoration: underline;
    color: rgb(0, 144,245);
}

.text a:visited {
    text-decoration: none;
    color: rgb(0, 144,245);
}

@media only screen and (max-width: 1000px) {
    .capsule {
        grid-template-columns: 100%;
    }
  }