footer {
    text-align: center;
    padding: 3px;
    background-color:rgb(2	82	140	);
    color: white;
    border-radius: .4cm;
    font-family: 'Lato',Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}